<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoWebShop Suite">
  <listeners>
    <listener class-name="com.project.utils.TestListener"/>
  </listeners>
  <test name="E2E Tests">
    <classes>
      <class name="com.project.tests.LoginTests"/>
      <class name="com.project.tests.ProductTests"/>
      <class name="com.project.tests.CartTests"/>
      <class name="com.project.tests.CheckoutTests"/>
      <class name="com.project.tests.ProfileTests"/>
    </classes>
  </test>
</suite>
